@{
    ViewData["Title"] = "Flood Orders";
}
@model ArmadaPortal.Flood.Pages.FloodOrderDashboardPageModel
@section Head {
    @*@Html.Script("dynamic://Lookup.Flood.Branch")*@
    <script>var CKEDITOR_BASEPATH = '@ContentHashCache.ResolvePath("~/Scripts/ckeditor/")';</script>
    @Html.ScriptBundle("CKEditor")
    @Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")

}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Filter by:</h3>
    </div><!-- /.box-header -->

    <div class="box">
        <div class="box-body">
            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.AllOrders, typeof(int))">
                <span class="badge bg-navy">@Model.TotalOrderCount</span>
                <i class="fa fa-inbox"></i> Total Orders
            </a>
            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.Draft, typeof(int))">
                <span class="badge bg-teal">@Model.DraftCount</span>
                <i class="fa fa-inbox"></i> Draft
            </a>
            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.Ordered, typeof(int))">
                <span class="badge bg-teal">@Model.OrderedCount</span>
                <i class="fa fa-inbox"></i> Ordered
            </a>

            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.Assigned, typeof(int))">
                <span class="badge bg-blue">@Model.AssignedCount</span>
                <i class="fa fa-inbox"></i> Assigned
            </a>

            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.OnHold, typeof(int))">
                <span class="badge bg-red">@Model.OnHoldCount</span>
                <i class="fa fa-inbox"></i> On Hold
            </a>

            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.Review, typeof(int))">
                <span class="badge bg-red">@Model.ReviewCount</span>
                <i class="fa fa-inbox"></i> Review
            </a>

            <a class="btn btn-app" href="~/Flood/Order?orderStatusGrouping=@Convert.ChangeType(ArmadaPortal.Flood.FloodOrderDetStatusTypeEnum.Completed, typeof(int))">
                <span class="badge bg-aqua">@Model.CompletedCount</span>
                <i class="fa fa-inbox"></i> Completed
            </a>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        orderGrid = new ArmadaPortal.Flood.FloodOrderGrid($('#GridDiv'), {}).init();

        var q = Q.parseQueryString();
        if (q.orderStatusGrouping != null && q.orderStatusGrouping.length) {
            orderGrid.set_orderstatusfilter(parseInt(q.orderStatusGrouping, 10));
        }
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>